@charset "UTF-8";
body {
	position: relative;
	font-size: 10px;
	line-height: 1.5;
	color: #333;
	font-family: "ソフトゴシック B" , "rounded-l-mplus-1c-bold","Lucida Grande" , "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	background-color: #f0f0f0;
}
a       {color: #333; text-decoration: none;}
a:hover {text-decoration: underline;}

.clearfix:after {
	clear: both;
	display: block;
	content: "";
}
